$color-black: #000000;
$color-white: #ffffff;
$color-gray: #f4f4f4;

$color-ebonyclay: #252839; //main//FFAE1A
$color-nevada: #677077; //secondary
$color-bombay: #b5b5b7; //tertiary
$color-saffron: #f2b632; //quaternary

$color-success: #3fb94f;
$color-fail: #d8604b;

$color-mobile-background: #fafafa;